@charset "UTF-8";

/* Todas as demais mídias */

@media print { /* impressão */

    body {
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
        border: 2px solid black;
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: block;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) { /* tablets */

    
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }


    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }

}

@media screen { /* Desktop */
    

    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }

}

@media screen and (max-width: 1200px) { /* Telas Grandes */
    

    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }

}

@media screen and (min-width: 600px) and (max-width: 768px) {
    body {
        background-image: url(../imagens/back-phone.jpg);
    }

  img#phone {
        display: block;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }




}